MODEL_PATH = "./model/models/mistral/mistral-7b-instruct-v0.1.Q5_K_M.gguf"
# MODEL_PATH = "./model/mistral-7b-instruct-v0.1.Q4_K_M.gguf"
UVICORN_HOST = 127.0.0.1  
UVICORN_PORT = 7870
SOURCE_DATA = "/Users/basheertp/work/python/LLM_RAG_Model_Deployment/source_data"
VECTOR_STORE = "./vectorestore"
TOGETHER_API_KEY = 'your together api key'
EMBED_MODEL = "BAAI/bge-base-en-v1.5"
TOGETHER_MODEL_PATH = "mistralai/Mistral-7B-Instruct-v0.2"
TAVILY_API_KEY = 'tvly-XXXXXXXX'
OPENAI_API_KEY='your open api key'